@media screen and (max-width:1185px) {
    .header__nav-btn{
        display: block;
    }

    .header__right{
        display: none;
    }
    
    .header__down{
        margin: 0 auto;
    }

    .itemik{
        display: none;
    }
}